@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import '../module/_header/_header';
@import '../module/_top/_top';
@import '../module/_footer/_footer';
// @import 'style';

  

.blog-page {
  padding: 120px 0 60px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 770px;
    margin-right: 30px;
  }
  &__aside{
    width: 370px;
  }
}
.blog-one{
  &__text{
    h4{
      @extend %roboto-500;
      font-size: 22px;
      color: $title;
      margin: 25px 0;
    }
    p{
      @extend %quicksand-500;
      font-size: 16px;
      margin: 0 0 35px;
      line-height: 26px;
    }
    blockquote{
      background-color: $bg;
      border-left: 3px solid $accent;
      color: $title;
      @extend %roboto-400;
      font-size: 22px;
      margin: 25px 0;
      padding: 35px;
    }
  }
  &__img-left{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__img-right{
    float: right;
    margin-bottom: 30px;
    margin-bottom: 10px;
  }
  &__text {
    border: 1px solid #ececec;
    border-top: none;
    padding: 30px;
    margin-top: -1px;
  }
  &__info{
    display: flex;
    margin-bottom: 25px;
  }
  &__info-link{
    @extend %quicksand-500;
    padding-right: 30px;
    padding-left: 28px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../images/icons/calendar.svg);
      width: 17px;
      height: 16px;
    }
  }
  &__info-link--comment{
    &::before{
      top: 2px;
      background-image: url(../images/icons/comment.svg);
    }
  }
  &__info-link--author{
    &::before{
      background-image: url(../images/icons/user-pink.svg);
      width: 16px;
      height: 16px;
    }
  }
  .comments__title{
    text-transform: uppercase;
    margin: 40px 0 30px;
    @extend %roboto-700;
    font-size: 24px;
    color: $title;
  }
  .comments-form{
    border: none;
  }
  .comments-form__title{
    text-transform: uppercase;
    margin: 35px 0 25px;
    color: $title;
    @extend %roboto-700;
    font-size: 24px;
    &::before{
      opacity: 0;
    }
  }
  .comments-form__box-input input + input{
    margin-left: 30px;
  }
  &__box{
    margin: 25px 0 35px;
    display: flex;
    justify-content: space-between;
  }
  &__tags,
  &__share{
    span{
      text-transform: uppercase;
      color: $title;
      @extend %roboto-700;
    }
  }
  &__share{
    display: flex;
    align-items: center;
    a{
      margin-left: 12px;
      vertical-align: middle;
      path{
        fill: #727272;
        transition: all .2s;
      }
      &:hover{
        path{
          fill: $accent;
        }
      }
    }
  }
  &__author{
    border-bottom: 1px solid #ececec;
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
  }
  &__author-img{
    width: 140px;
    height: 140px;
    margin-right: 30px;
    object-fit: cover;
  }
  &__author-name{
    margin-bottom: 24px;
    font-size: 22px;
    @extend %roboto-500;
    color: $title;
  }
}
.person{
  border: 1px solid #ececec;
  margin-bottom: 40px;
  text-align: center;
  padding: 40px 35px;
  &__img{
    display: inline-block;
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin: 0 35px auto;
  }
  &__name{
    color: $title;
    font-size: 18px;
    @extend %roboto-700;
  }
  &__position{
    color: $accent;
    margin-bottom: 25px;
  }
  &__text{
    margin-bottom: 25px;
  }
  &__social-link{
    margin: 0 8px;
    path{
      fill: $default;
      transition: all .3s;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
}
.latest-post{
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
  &__title{
    color: $title;
    text-transform: uppercase;
    @extend %roboto-500;
    font-size: 22px;
    margin-bottom: 35px;
  }
  &__item{
    margin-bottom: 20px;
    display: flex;
    & + .latest-post__item{
      border-top: 1px solid #ececec;
      padding-top: 20px;
    }
  }
  &__img-link{
    margin-right: 20px;
    display: block;
    min-width: 80px;
  }
  &__img{
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  &__title-link{
    @extend %roboto-400;
    font-size: 18px;
    color: $title;
    line-height: 28px;
  }
  &__date{
    padding-left: 26px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      background-image: url(../images/icons/calendar.svg);
      width: 17px;
      height: 16px;
    }
  }
}
.filter{
  &__item{
    padding: 35px 30px 40px;
    border: 1px solid #ececec;
    margin-bottom: 40px;
  }
  &__title{
    text-transform: uppercase;
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
    margin-bottom: 25px;
  }
}

.filter-search {
  &__form{
    display: flex;
  }
  &__input{
    border: none;
    background-color: $bg;
    width: 260px;
    height: 50px;
    padding: 0 5px 0 17px;
  }
  &__btn{
    border: none;
    background-color: $accent;
    height: 50px; 
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -1px;
  }
}
.filter-category{
  &__label{
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: $accent;
      color: #fff;
    }
  }
  &__checkbox {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    color: $title;
    padding: 16px 20px;
  }
}
.filter-popular{
  &__label {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 7px;
    cursor: pointer;
    padding: 10px 0;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-popular__checkbox {
      background-color: $accent;
      color: #fff;
      border-color: $accent;
    }
  }
  &__checkbox{
    border: 1px solid $default;
    padding: 10px 20px;
    user-select: none;
  }
}
.comments{
  margin-bottom: 40px;
  display: flex;
  &__img {
    margin-right: 30px;
    min-width: 71px;
    height: 71px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
  }
  &__content-top{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
  }
  &__content-name{
    color: $title;
    margin-right: 13px;
    @extend %roboto-500;
  }
  &__content-date{
    padding-left: 13px;
    border-left: 1px solid $default;
  }
  &__content-star{
    margin-left: auto;
    margin-right: 0;
  }
  &__content-text{
    margin-bottom: 10px;
  }
  &__content-reply{
    display: inline-block;
    padding-left: 25px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      width: 15px;
      height: 13px;
      background-image: url(../images/icons/back-arrow.svg);
    }
  }
}
.comments-form{
  padding-bottom: 60px;
  border-bottom: 1px solid #f0f0f0;
  &__title{
    color: $title;
    font-size: 22px;
    @extend %roboto-400;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $accent;
      width: 50px;
    }
  }
  &__rating{
    margin-bottom: 30px;
  }
  &__rating-title{
    color: $title;
    margin-right: 60px;
  }
  &__label{
    margin-right: 25px;
  }
  &__input{
    @extend %radio-hidden;
    &:checked + .comments-form__radio{
      path{
      fill: #ffc35b !important;
      }
    }
  }
  &__box-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__text-input{
    width: 570px;
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    border: 1px solid #f0f0f0;
  }
  &__textarea{
    border: 1px solid #f0f0f0;
    padding: 15px 20px;
    display: block;
    width: 100%;
    height: 225px;
    resize: none;
    margin-bottom: 40px;
  }
  &__btn{
    border: none;
    @extend %btn;
    cursor: pointer;
  }
}


@media (max-width: 1240px) {
  .person,
  .latest-post{
    display: none;
  }
  .blog-page,
  .blog-one{
    .filter-category,
    .filter-popular{
      display: none;
    }
    &__inner{
      flex-direction: column;
    }
    &__content{
      max-width: 100%;
      margin-right: 0;
    }
    &__img{
      max-width: 100%;
      width: 100%;
    }
    &__item{
      margin-bottom: 30px;
    }
    &__aside{
      order: -1;
      width: 100%;
    }
  }
  .filter-search{
    &__input{
      width: 100%;
    }
  }
}
@media (max-width: 620px) {
  .blog-page{
    padding: 60px 0;
    &__item-box{
      padding: 20px;
    }
    &__img{
      height: 260px;
    }
  }
  .blog-one{
    &__box{
      flex-wrap: wrap;
      padding-right: 10px;
    }
    &__text{
      padding: 20px 10px;
    }
    &__info{
      display: block;
    }
    & .comments-form{
      padding-bottom: 0;
      &__box-input{
        display: block;
        & input+input{
          margin-left: 0;
          margin-top: 30px;
        }
      }
      &__text-input{
        width: 100%;
      }
    }
    &__info-item{
      margin-bottom: 10px;
    }
    
  }
}
@media (max-width: 450px){
  .blog-one{
    &__box{
      display: block;
    }
    &__author-img{
      display: none;
    }
    &__text{
      blockquote{
        padding: 10px;
      }
    }
  }
  .comments {
    &__img{
      display: none;
    }
  }
}
@media (max-width: 375px){
  .filter-item{
    padding: 25px 15px;
  }
}