.top-slider {
  background-image: url(../images/decor/top-slider-bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg;
  padding-top: 65px;
  padding-bottom: 44px;
  &__container {
    max-width: 1560px;
  }
  &__content {
    padding-left: 176px;
  }
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__title {
    max-width: 670px;
    color: $title;
    font-size: 58px;
    line-height: 68px;
    @extend %roboto-700;
    margin-bottom: 75px;
  }
  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }
  &__link {
    @extend %btn;
    padding: 14px 36px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    li {
      padding: 0 5px;
      line-height: 0px;
      button{
        padding: 0;
        font-size: 0;
        background-color: transparent;
        width: 26px;
        height: 26px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
        }
      }
      &.slick-active {
        button {
          border-color: $accent;
          &::before{
            background-color: $accent;
          }
        }

      }
    }
  }
}